:root {
  --shadow-color: 0deg 0% 59%;
  --shadow-elevation-low: 0.4px 0.4px 0.7px hsl(var(--shadow-color) / 0.23),
    0.7px 0.7px 1.3px -0.7px hsl(var(--shadow-color) / 0.33),
    1.6px 1.7px 3px -1.5px hsl(var(--shadow-color) / 0.43);
  --shadow-elevation-medium: 0.4px 0.4px 0.7px hsl(var(--shadow-color) / 0.24),
    1.5px 1.7px 2.9px -0.5px hsl(var(--shadow-color) / 0.32),
    3.4px 3.8px 6.5px -1px hsl(var(--shadow-color) / 0.4),
    7.8px 8.6px 14.8px -1.5px hsl(var(--shadow-color) / 0.48);
  --shadow-elevation-high: 0.4px 0.4px 0.7px hsl(var(--shadow-color) / 0.22),
    3.1px 3.4px 5.9px -0.2px hsl(var(--shadow-color) / 0.26),
    5.6px 6.2px 10.7px -0.4px hsl(var(--shadow-color) / 0.3),
    8.7px 9.7px 16.6px -0.6px hsl(var(--shadow-color) / 0.33),
    13.1px 14.5px 24.9px -0.9px hsl(var(--shadow-color) / 0.37),
    19.4px 21.5px 36.9px -1.1px hsl(var(--shadow-color) / 0.41),
    28.4px 31.5px 54.1px -1.3px hsl(var(--shadow-color) / 0.44),
    40.7px 45.1px 77.5px -1.5px hsl(var(--shadow-color) / 0.48);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-96 {
  font-size: 96px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

body {
  margin: 0;
}
.body-grid {
  display: grid;
  grid-template-columns: 13fr 64fr 19fr;
  grid-template-rows: 13fr 51fr;
  margin: 0;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
  overscroll-behavior: auto;
}

.body-grid > div {
  border: solid black 2px;
}

.container-names-library {
  /* flex-box most likely required */
  display: flex;
  align-items: end;
  padding: 1rem;
  text-align: start;
}

.container-names-library > span {
  caret-shape: block;
  margin-bottom: -14px;
  font-size: 5rem;
  padding-bottom: 0.2rem;
  flex-shrink: 1;
  align-items: flex-start;
}

.container-names-library > span:first-childgit a {
  font-style: italic;
}

.container-names-library > span:focus-visible {
  outline: none;
}

.container-names-library > span:nth-child(even) {
  padding-left: 0.75rem;
}

.container-button {
  display: flex;
  align-items: end;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.container-button > span {
  display: grid;
  margin: 0px;
  padding: 0px;
}

.container-button {
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

.container-button > span:nth-child(3) {
  position: relative;
  writing-mode: vertical-lr;
  font-size: 3rem;
  padding-bottom: 0.2rem;
  right: 86px;
  bottom: 90px;
}

.container-button > span:nth-child(4) {
  position: relative;
  font-size: 5rem;
  padding-left: 0.6rem;
  right: 52px;
  top: 12px;
}

.container-bookshelf {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  padding: 1rem;
  overflow: scroll;
}

.book,
.demo {
  height: 760px;
  display: grid;
  gap: 0.75rem;
  padding: 0.5rem 2.5rem;
  justify-content: center;
  grid-auto-columns: min-content;
  grid-auto-rows: auto;
  border: black solid 8px;
  font-size: 1.6rem;
  box-shadow: var(--shadow-elevation-medium);
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.book > div {
  border: rgb(0 0 0 / 0.3) double 6px;
  writing-mode: vertical-rl;
}

.demo > div {
  border: rgb(0 0 0 / 0.3) double 6px;
  writing-mode: vertical-rl;
}

.book-author {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.book-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.book-pages {
  display: flex;
  justify-content: end;
  font-style: italic;
}

.book,
.demo > div:nth-child(-n + 2) span {
  padding: 0.8rem;
}

.book-pages > span {
  font-size: 2rem;
  padding: 0.2rem;
  margin: 0 0.5rem;
  writing-mode: horizontal-tb;
}

.book-obscure {
  opacity: 0.3;
  transform: scale(0.96);
  transition: 0.3s ease-in-out;
}

.book-obscure:hover {
  opacity: 1;
  transform: scale(1);
  transform: rotate(0.0001deg);
}

.read {
  background: linear-gradient(
      104deg,
      rgba(130, 255, 173, 0) 0.9%,
      rgba(130, 255, 173, 1.25) 2.4%,
      rgba(130, 255, 173, 0.5) 5.8%,
      rgba(130, 255, 173, 0.1) 93%,
      rgba(130, 255, 173, 0.7) 96%,
      rgba(130, 255, 1732, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(130, 255, 173, 0) 0%,
      rgba(130, 255, 173, 0.3) 27.9%,
      rgba(130, 255, 173, 0) 15%
    );
  padding: 0.6em 13.7px;
  margin: 0;
  text-shadow: -12px 12px 9.8px rgba(130, 255, 173, 0.7),
    21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1);
}

.unread {
  background: linear-gradient(
      104deg,
      rgba(255, 105, 180, 0) 0.9%,
      rgba(255, 105, 180, 1.25) 2.4%,
      rgba(255, 105, 180, 0.5) 5.8%,
      rgba(255, 105, 180, 0.1) 93%,
      rgba(255, 105, 180, 0.7) 96%,
      rgba(255, 105, 180, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(255, 105, 180, 0) 0%,
      rgba(255, 105, 180, 0.3) 7.9%,
      rgba(255, 105, 180, 0) 15%
    );
  padding: 0.6em 13.7px;

  margin: 0;
  text-shadow: -12px 12px 9.8px rgba(255, 105, 180, 0.4),
    21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1);
}

.container-status {
  writing-mode: vertical-lr;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  font-size: 4rem;
}

.container-status > div > span:nth-child(2) {
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
}

.read-color {
  background-color: rgb(130, 255, 173);
}

.unread-color {
  background-color: rgb(255, 105, 180);
}

.read-color,
.unread-color {
  box-shadow: var(--shadow-elevation-high);
  transition: 0.1s ease-in-out;
}

.read-color:hover,
.unread-color:hover {
  padding: -2px;
  outline: 4px solid dimgray;
}

.read-color:active,
.unread-color:active {
  transform: scale(0.96);
  box-shadow: var(--shadow-elevation-low);
}

.form-container {
  visibility: visible;
  position: relative;
  width: 200px;
}

.button-open {
  width: 5rem;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

.button-open:hover {
  transform: rotate(90deg);
}

.add-book {
  width: 28rem;
  height: 25rem;
  font-size: 3rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
}

dialog > fieldset > div {
  display: grid;
  justify-content: center;
  grid-auto-columns: 2fr;
  grid-auto-rows: 1fr;
}

fieldset > div {
  padding: 0.2rem 3rem;
}

fieldset > div > label {
  padding-top: 0.4rem;
}

input {
  border: 3px solid black;
}

fieldset > fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  grid-template-columns: 2fr;
  padding: 2rem 2rem 0;
}

fieldset > fieldset > div > label {
  padding: 1rem;
}
fieldset > fieldset > div {
  padding-bottom: 1.6rem;
}

input[type="radio"] {
  position: relative;
  width: 2rem;
  height: 2rem;
  top: 2px;
}

input[type="text"] {
  font-size: 2.2rem;
  padding: 0.4rem;
}

.legend-wrap {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;
}

#top-legend {
  position: relative;
}

label {
  font-size: 2.6rem;
}

button {
  border: 1px solid black;
}
img {
  -webkit-user-drag: none;
}

button:focus {
  outline: 0;
}

.button-submit {
  font-size: 2rem;
  margin: 1.6rem;
  width: 10rem;
  height: 5rem;
  align-self: center;
  box-shadow: var(--shadow-elevation-medium);
  transition: ease-in 0.05s;
}

.button-submit:hover,
.button-cancel:hover {
  transform: scale(1.02);
}

.button-submit:active,
.button-cancel:active {
  transform: scale(0.96);
  box-shadow: var(--shadow-elevation-low);
}

.modal {
  width: clamp(30ch, 44ch, 40vw);
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  box-shadow: var(--shadow-elevation-high);
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.hidden {
  display: none;
  transition: 1s ease-in-out;
}

.clickable {
  transition: 0.1s ease-in-out;
}

.clickable:hover {
  transform: scale(1.02);
  border: 6px solid dimgray;
  box-shadow: var(--shadow-elevation-medium);
}

.clickable:active {
  transform: scale(0.98);
}

.button-cancel {
  position: absolute;
  right: 20px;
  width: 3.4rem;
  height: 3.4rem;
  align-self: center;
  box-shadow: var(--shadow-elevation-medium);
  transition: ease-in 0.05s;
}

.remove-book {
  transition-property: color, background-color, font-size;
  transition-duration: 0.6s;
}

.remove-book:hover {
  color: white;
  background-color: black;
}

.book-author > span,
.book-title > span,
.book-pages > span {
  pointer-events: none;
}
