* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-96 {
  font-size: 96px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

body {
  margin: 0;
}
.body-grid {
  display: grid;
  grid-template-columns: 13fr 64fr 19fr;
  grid-template-rows: 13fr 51fr;
  margin: 0;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
  overscroll-behavior: auto;
}

.body-grid > div {
  border: solid black 2px;
}

.container-names-library {
  /* flex-box most likely required */
  display: flex;
  align-items: end;
  padding: 1rem;
  text-align: start;
}

.container-names-library > span {
  margin-bottom: -14px;
  font-size: 5rem;
  padding-bottom: 0.2rem;
  flex-shrink: 1;
  align-items: flex-start;
}

.container-names-library > span:nth-child(even) {
  padding-left: 0.75rem;
}

.container-button {
  display: flex;
  align-items: end;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.container-button > div + span {
  display: grid;
  margin: 0px;
  padding: 0px;
}

.container-button > div {
  background-color: black;
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

.container-button > span:nth-child(2) {
  position: relative;
  writing-mode: vertical-lr;
  font-size: 3rem;
  padding-bottom: 0.6rem;
  right: 86px;
  bottom: 90px;
}

.container-button > span:nth-child(3) {
  position: relative;
  font-size: 5rem;
  padding-left: 0.6rem;
  right: 52px;
  top: 12px;
}

.container-bookshelf {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  padding: 1rem;
  overflow: scroll;
}

.book {
  height: 760px;
  display: grid;
  gap: 0.75rem;
  padding: 0.5rem 2.5rem;
  justify-content: center;
  grid-auto-columns: min-content;
  grid-auto-rows: auto;
  border: black solid 8px;
  font-size: 1.6rem;
}

.book > div {
  border: rgb(0 0 0 / 0.3) double 6px;
  writing-mode: vertical-rl;
}

.book-author {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.book-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.book-pages {
  display: flex;
  justify-content: end;
  font-style: italic;
}

.book > div:nth-child(-n + 2) span {
  padding: 0.4rem;
}

.book-pages > span {
  font-size: 2rem;
  padding: 0.2rem;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  margin: 0 0.5rem;
  writing-mode: horizontal-tb;
}

.book-unread {
  opacity: 0.5;
  transform: scale(0.96);
  transition: 0.4s;
}

.book-unread:hover {
  opacity: 1;
  transform: scale(1);
}

.read {
  background: linear-gradient(
      104deg,
      rgba(130, 255, 173, 0) 0.9%,
      rgba(130, 255, 173, 1.25) 2.4%,
      rgba(130, 255, 173, 0.5) 5.8%,
      rgba(130, 255, 173, 0.1) 93%,
      rgba(130, 255, 173, 0.7) 96%,
      rgba(130, 255, 1732, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(130, 255, 173, 0) 0%,
      rgba(130, 255, 173, 0.3) 27.9%,
      rgba(130, 255, 173, 0) 15%
    );
  padding: 0.6em 13.7px;
  margin: 0;
  text-shadow: -12px 12px 9.8px rgba(130, 255, 173, 0.7),
    21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1);
}

.unread {
  background: linear-gradient(
      104deg,
      rgba(255, 105, 180, 0) 0.9%,
      rgba(255, 105, 180, 1.25) 2.4%,
      rgba(255, 105, 180, 0.5) 5.8%,
      rgba(255, 105, 180, 0.1) 93%,
      rgba(255, 105, 180, 0.7) 96%,
      rgba(255, 105, 180, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(255, 105, 180, 0) 0%,
      rgba(255, 105, 180, 0.3) 7.9%,
      rgba(255, 105, 180, 0) 15%
    );
  padding: 0.6em 13.7px;

  margin: 0;
  text-shadow: -12px 12px 9.8px rgba(255, 105, 180, 0.4),
    21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1);
}

.container-status {
  writing-mode: vertical-lr;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  font-size: 4rem;
}

.container-status > div > span:nth-child(2) {
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
}

.read-color {
  background-color: rgb(130, 255, 173);
}

.unread-color {
  background-color: rgb(255, 105, 180);
}

.form-container {
  visibility: visible;
  position: relative;
  width: 200px;
}

.button-open {
  width: 5rem;
  transition: ease-in-out 0.3s;
}

.button-open:hover {
  transform: rotate(90deg);
}

.button-open:active {
  color: red;
}

.add-book {
  width: 28rem;
  height: 25rem;
  font-size: 3rem;
}

.button-close {
  font-size: 2rem;
  width: 8rem;
  height: 5rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
