body {
  margin: 0;
}
.body-grid {
  display: grid;
  grid-template-columns: 13fr 64fr 19fr;
  grid-template-rows: 13fr 51fr;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.body-grid > div {
  border: solid black 2px;
}
